.msg-conteiner {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.msg-icon {
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 34px;
}

.msg-description {
    font-size: 18px;
}

.fa-circle-exclamation{
    color: red;
}

.fa-triangle-exclamation{
    color:goldenrod;
}

.fa-message{
    color: green;
}