.header-conteiner{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E4053;
    padding: 0px;
    margin: 0px;
}

.header-conteiner>h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
}

/* Breakpoints */
@media (min-width: 576px) { /* Pequeñas pantallas (ej. celulares grandes) */

}

@media (min-width: 768px) { /* Tablets */
}

@media (min-width: 992px) { /* Laptops y pantallas medianas */
        .header-conteiner>h1 {
    font-size: 70px;
    }
}

@media (min-width: 1200px) { /* Pantallas grandes */
}
