:root {
    --inHeigth: 750px
}

.general-conteiner {
    background-color: #F7F7F7;
    height: auto;
}

.drag-n-drop {
    display: flex;
    gap: 20px;
    justify-content: start;
    overflow: scroll;
    height: var(--inHeigth);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.note-conteiner {
    display: flex;
    justify-content: start;
    height: var(--inHeigth);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    flex-direction: column;
}

#proyectos {
    width: 100%;
}

.descripcion-proyecto>h2 {
    margin: 0px;
    padding: 0px;
}

.descripcion-proyecto {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    opacity: 0;
    height: 120px;
    transition: opacity 1s ease-in-out;
    font-size: 12px;
    text-align: center;
}

.visible-title {
    opacity: 1;
}

.option-note-conteiner {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
}

.option-note-conteiner>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
}

.option-note-conteiner>ul>li {
    padding: 5px 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-active {
    background-color: #F7F7F7 !important;
    color: black !important;
}

.option-note-conteiner>ul>li>span {
    display: inline-block;
    flex-direction: row;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
}

.flechas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    height: 70px;
}

.flechas>i {
    font-size: 40px;
    margin: 0px 10px;
    animation: shakeIcon 5s infinite;
}

.flechas>span::after{
    content:' :.';
}

.flechas>span::before{
    content:'.: ';
}

@keyframes shakeIcon {
    0% { transform: translate(2px, 0px);}
    1% { transform: translate(-4px, 0px);}
    2% { transform: translate(2px, 0px);}
    3% { transform: translate(-2px, 0px);}
    4% { transform: translate(2px, 0px);}
    5% { transform: translate(-4px, 0px);}
    6% { transform: translate(0px, 0px);}
}

/* Breakpoints */
@media (min-width: 576px) {
    /* Pequeñas pantallas (ej. celulares grandes) */

}

@media (min-width: 768px) {
    /* Tablets */
}

@media (min-width: 992px) {
    /* Laptops y pantallas medianas */

    .descripcion-proyecto {
        font-size: 20px;
    }
}

@media (min-width: 1250px) {

    /* Pantallas grandes */
    .drag-n-drop {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .flechas {
        visibility: hidden;
        height: 0px;
    }
}