.navbar {
    width: 100%;
    height: 40px;
    background-color: #333333;
    box-sizing: border-box;
    display: flex;
}

.select-proyect,
.options-items,
.login-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.login-button {
    display: none;
}

.login-button>button {
    margin: 0px;
    padding: 0px;
    width: 50px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #333333;
    color: white;

}

.select-proyect {
    margin-left: 5px;
}

.select-proyect>span {
    text-align: center;
}

.options-items>ul {
    display: flex;
    list-style: none;
}

.options-items>ul>li {
    margin: 0px 5px;
    height: 38px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    text-align: center;
    border: 1px solid white;
}

.options-items>ul>li:hover {
    background-color: #87CEEB;
    color: black;
}

.options-items>ul>li:active {
    background-color: red;
}

.enable {
    background-color: red;
}

.disable {
    background-color: none;
}

/* Breakpoints */
@media (min-width: 576px) {
    /* Pequeñas pantallas (ej. celulares grandes) */

}

@media (min-width: 768px) {
    /* Tablets */

}

@media (min-width: 992px) {

    /* Laptops y pantallas medianas */
    .login-button {
        display: flex;
        justify-content: end;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    /* Pantallas grandes */
}